:root
{
    --bgcolour: #8FC1E3;
    --secondarybgcolour: #5085A5;
    --borderradius: 15px;
    --textcolour: #F7F9FB;
}

body
{
  background-color: var(--bgcolour);
}

.sectionParagraph
{
  padding: 0% 1% 1% 1%
}

#contactLink
{
  color: #DAE966;

}

.navbar
{
  background-color: var(--secondarybgcolour);
  margin-bottom: 1%;
}

.textcolour
{
  color: var(--textcolour);
}

.nav-link
{
  color: var(--textcolour);
  font-size: 25px;
}
.nav-link:hover
{
  color: #182628;
}


#carouselHome
{
  margin-left: 10%;
  margin-right: 10%;
}

#carouselDiv
{
  background-color: var(--bgcolour);
  margin: 5% 0% 5% 0%;
}

.carouselParagraph
{
  background-color:  var(--secondarybgcolour);
  color: var(--textcolour);
  width: 300px;
  height: auto;
  position: relative;
  margin: auto;
  border-radius: var(--borderradius);

}

#header, #subheader
{
  text-decoration: underline;
}

#header
{
  padding: 1% 0% 1% 0%;
  margin-left: 45%
}

.innerdiv
{
  margin: 3% 2% 3% 2%;
}

.aboutheader
{
  background-color: #0C2D48;
  padding: 10% 0% 10% 0%;
}

.about
{
  background-color: #145DA0;
}

.projectheader
{
  background-color: #1E4E4B;
  padding: 10% 0% 10% 0%;
}

.stockpara
{
  background-color: #2A9B77;
}

.matrixpara
{
  background-color: #078C62;
}

.cwbpara
{
  background-color: #006C5F;
}

.gitpara
{
  background-color: #4B9289;
}

.contactheader
{
  background-color: #45376B;
  padding: 10% 0% 10% 0%;
}

.contact
{
  background-color: #5E4B92;
}

.peekPic
{
  height: 200px;
  width: 200px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

footer
{
  width: 100%;
  background-color: var(--secondarybgcolour);
}

.githubLink
{
  width: 25px;
  height: 25px;
  padding: 2px;
}
